
.card{
   
    border: 1px solid black;
    border-radius: 4px;
    min-width: 80%;
    margin-top: 20px;
  
}
.container-fluid{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 70%;
}
img{
    width:150px;
     height:10rem;
}

img:hover{
    position: relative;
    transform: scale(1.01);
}
.card-footer{
    justify-content: center;
    align-items: center;
    
}