<app-navbar></app-navbar>
<div class="container-fluid ">
    <div class="card mx-auto">
        <div class="card-header ">
            <p>Login</p>
        </div>
        <div class="card-body">
            <div class="form-group mx-auto">
                <form #loginform="ngForm" (ngSubmit)="loginform.form.valid && onLogin(loginform)" novalidate>
                    <input type="email" placeholder="Enter email" name="email" class="form-control" [(ngModel)]="userobj.useremail" required email #email="ngModel">
                    <!-- <small class="text-danger" *ngIf="(email.touched||loginform.submitted)&& email.errors?.['required']">Email is required</small>
                    <small class="text-danger" *ngIf="email.touched && email.errors?.['email']">Email is not vaild</small> -->
                    <input type="password" placeholder="Enter password" name="password" class="form-control" [(ngModel)]="userobj.password" #password="ngModel" required minlength="6">
                    <!-- <small class="text-danger" *ngIf="(password.touched||loginform.submitted)&& password.errors?.['required']">Password is required</small> -->
                  
                    <div class="form-submit">
                        <button type="submit" class="btn btn-success" [disabled]="!loginform.valid">Login</button>
                    </div>
                    <a [routerLink]="'/register'">Don't have any account</a>
                    <br>
                    <a [routerLink]="'/resetpassword'">Forget Password</a>
                    <p c [hidden]="!errormsg" class="text-danger">Invalid Password or Email</p>
                </form>
             
               
            </div>
        </div>
  
       
    </div>
</div>