
<app-navbar>
</app-navbar>
<div class="container-fluid ">
    <div class="card mx-auto">
        
        <div class="card-body">
            <div class="form-group mx-auto">
              
                <form #profile="ngForm" (ngSubmit)="profile.form.valid && updateProfile(profile)" >
                    <div class="avatar">
                        <img [src]="userobj.profile" alt="Avatar">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Enter Name" name="name" class="form-control" [(ngModel)]="userobj.username" #username="ngModel" required pattern="[a-zA-Z][a-zA-Z ]+[a-zA-Z]$">
                        <input type="text"   placeholder="Enter Surname" name="surname" class="form-control" [(ngModel)]="userobj.surname" required pattern="[a-zA-Z][a-zA-Z ]+[a-zA-Z]$" #surname="ngModel">
              
                        <input type="text"  placeholder="Enter Address" name="address" class="form-control" [(ngModel)]="userobj.address" required #address="ngModel">

                        <input type="file" ng2FileSelect [uploader]="uploader" (change)="onUpload($event)"/>
                        <!-- <button (click)="onUpload()" class="btn btn-success form-field">Upload</button> -->
                      
                        <!-- <p [hidden]="!uploadmsg" class="text-success">Image uploaded</p> -->
                    </div>
                   
                    <div class="form-submit">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                    <p c [hidden]="!updatemsg" class="text-success">Update Success</p>
                </form>
             
               
            </div>
        </div>
  
       
    </div>
</div>
