<app-navbar></app-navbar>
<div class="container-fluid jumbotron">
    
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <img [src]="url" alt="book">
                    <div>
                        <span class="image" *ngFor="let item of bookobj.sideimg">
                            <img [src]="item" alt="book" style="height: 60px; width: 60px;" (click)="getbook(item)">
                        </span>
                        
                    </div>
                    
                </div>
                <div class="col-6">
                    <h4>BookName:{{bookobj.bookname}}</h4>
                    <em>Category:{{bookobj.category}}</em>
                    <p>Author:{{bookobj.author}}</p>
                    <p>Publisher:{{bookobj.publisher}}</p>
                    <p>Seller:{{bookobj.sellername}}</p>
                    <p>Price:{{bookobj.price|currency:"INR"}}</p>
                </div>
            </div>
        </div>
        <div class="card-footer" >
            <button class="btn btn-success m-1" *ngIf="!isLogin(); else otherblock" [routerLink]="'/login'" >Buy Now</button>
            <ng-template #otherblock>
                <button class="btn btn-success m-1"  (click)="openModal()" >Buy Now</button>
            </ng-template>
            <button class="btn btn-warning" *ngIf="!isLogin(); else loginblock" [routerLink]="'/login'">Add to Cart</button>
            <ng-template #loginblock >
                <button [hidden] ="alreadycart"  class="btn btn-warning m-1" (click)="addtoCart()">Add to Cart</button>
                <button [hidden] ="!alreadycart" class="btn btn-warning m-1" [routerLink]="'/addtocart'">View Cart</button>
            </ng-template>
        </div>
    </div>
</div>


