<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Update Book</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <img [src]="bookobj.sideimg[0]" alt="book">
    <form>
        <input type="text" placeholder="Enter Book Name" name="bookname" class="form-control"  [required]="true" [(ngModel)]="bookobj.bookname">
        <input type="text" placeholder="Enter Book Author" name="author" class="form-control"  [required]="true"  [(ngModel)]="bookobj.author">
        <input type="text" placeholder="Enter Publishers" class="form-control"name="publisher" [required]="true"  [(ngModel)]="bookobj.publisher" >
        <input type="text" name="price" placeholder="Enter price" class="form-control" [required]="true"  [(ngModel)]="bookobj.price">
        <input type="text" name="description" placeholder="Enter description" class="form-control" [required]="true"  [(ngModel)]="bookobj.description" >
        <input type="text" name="category" placeholder="Enter category" class="form-control" [required]="true"  [(ngModel)]="bookobj.category">
        <input type="file" ng2FileSelect [uploader]="uploader"/>
        <button (click)="onUpload()" class="btn btn-success form-field">Upload</button>
    </form>
  <p [hidden]="!updatemsg" class="text-success">Update Successfull</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
    <button type="button" class="btn btn-success" (click)="onSubmit()">Save changes</button>
  </div>
