<app-navbar></app-navbar>

 
  
  <div class="container-fluid jumbotron">
        <div class="card">
            <div class="card-header">
              <div class="mb-3 row">
                <div class="col-3">
                  <select class="form-select" [(ngModel)]="downloadAs">
                    <option selected value="png">png</option>
                    <option value="xlsx">xlsx</option>
                    <option value="pdf">pdf</option>
              
                  </select>
                </div>
                <div class="col-3">
                  <button type="button" class="btn btn-success" (click)="export()">
                    Downlaod as {{ downloadAs }}
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table   datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-bordered table-striped text-center " id="usertable">
                    <thead>
                        <tr>
                          <th>UserId</th>
                          <th>Name</th>
                          <th>Email</th>
                            <th>Mobile</th>
                            <th>Address</th>
                            <th>Profile</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                        <tbody>
                            <tr *ngFor="let user of allUser">
                                <td>{{user.userid}}</td>
                                <td>{{user.username}} {{user.surname}}</td>
                                
                                <td>{{user.useremail}}</td>
                                <td>{{user.mobileno}}</td>
                                <td>{{user.address}}</td>
                                <td>
                                  <img [src]="user.profile">
                                </td>
                                <td><button class="btn btn-danger" (click)="onDelete(user)">Delete</button></td>
                            </tr>
                        
                        </tbody>
                   
                </table>
                </div>
            </div>
            <div class="card-footer">
             <p>All User</p>
            </div>
        </div>
</div>