.card{
    border: 2px solid rgb(176, 161, 155);
    text-align: center;
    justify-content: center;
    padding: 5px ;
    margin: 10px;

}
.card-header{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color:green;
    font-weight: bold;
}

.form-control{
    max-width: 400px;
    padding: 10px;
    margin: 5px;
}
.card-body{
    font-size:20px;
    display:block;
    font-family: 'Times New Roman', Times, serif;
}

img{
    width:150px;
     height:10rem;
}

img:hover{
    position: relative;
    transform: scale(1.05);
}
.row{
    border: 1px solid rgb(226, 217, 217);
    border-radius: 4px;
    margin: 5px;
    margin-top: 40px;
    top:20px
}
.heading{
    display: block;
    color:green;

    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight:bold;
    text-shadow: 1em;
    font-size: 30px;
    top:-20px
}
.container-fluid{
    margin-bottom: 20px;
}
