<app-navbar></app-navbar>


<div class="container-fluid">
    <div class="row" >
        <div class="heading">
            <p>Featured Books</p>
        </div>
       
        <div class="col-3" *ngFor="let book of allbook | filter: searchterm" >
            <div class="card">
                <div class="card-header">
                    <em>{{book.category}}</em>
                </div>
                <div class="card-body">
                    <img [src]="book.sideimg[0]" >
                    <p>{{book.bookname}}</p>
                   
                    <h4>{{book.price|currency:"INR"}}</h4>
                                      </div>
                <div class="card-footer ">
                    <button class="btn btn-success m-1" (click)="viewProduct(book)" >View Details</button> 
                </div>
            </div>
        </div>
    </div>
</div>
