<app-navbar></app-navbar>

<div class="container-fluid jumbotron">
    
    <div class="card">
        <div class="card-header">
         <h4 class="text-center text-success">All Order</h4>
        </div>
        <div class="card-body">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-bordered table-striped text-center " id="viewallorder">
                <thead>
                    <tr>
                        <th>OrderId</th>
                        <th>Customer Details</th>
                        <th>Order Details</th>
                        <!-- <th>Quantity</th>
                        <th>Total Pice</th> -->
                        <th>Product Details</th>
                        <th>Order Date</th>
                        <th>Expected Delivery Date</th>
                        <th>Status</th>
                       
                        
                    </tr>
                </thead>
                    <tbody>
                        <tr *ngFor="let order of allorder" >
                            <td>{{order.orderId}}</td>
                            <td>
                                <p>{{order.name}}</p>
                                <p>{{order.address}}</p>
                                <p>{{order.mobileno}}</p>
                                
                            </td>
                            <td>
                              <p>Quantity:{{order.quantity}}</p>
                              <p>Total Price:{{order.price*order.quantity}}</p>
                                
                            </td>
                         
                            <td>
                              <img [src]="order.bookImage">
                              <h5>{{order.bookname}}</h5>
                              <em>{{order.category}}</em>
                              <p>{{order.author}}</p>
                              <p>{{order.publisher}}</p>
                              <p>{{order.price|currency:"INR"}}</p>
                            </td>
                            <td>{{order.orderdate}}</td>
                            <td>{{order.shippingdate}}</td>
                            <td>{{order.orderstatus}}</td>
                          
                        </tr>
                    
                    </tbody>
               
            </table>
        </div>
        <div class="card-footer">
          <div class="mb-3 row">
            <div class="col-3">
              <select class="form-select" [(ngModel)]="downloadAs">
                <option selected value="png">png</option>
                <option value="xlsx">xlsx</option>
                <option value="pdf">pdf</option>
              
              </select>
            </div>
            <div class="col-3">
              <button type="button" class="btn btn-success" (click)="export()">
                Downlaod as {{ downloadAs }}
              </button>
            </div>
          </div>
        </div>
    </div>


</div>
