<app-navbar></app-navbar>
<div class="container-fluid jumbotron" *ngFor="let order of allorder">
    
    <div class="card" [hidden]="!orderdiv" >
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <img [src]="order.bookImage" alt="book">
                </div>
                <div class="col-6">
                    <h4>BookName:{{order.bookname}}</h4>
                    <em>Category:{{order.category}}</em>
                    <p>Author:{{order.author}}</p>
                    <p>Publisher:{{order.publisher}}</p>
                    <p>Price:{{order.price|currency:"INR"}}</p>
                    <p>Quantity:<b>{{order.quantity}}</b></p>
                    <p>OrderId:<b>{{order.orderId}}</b></p>
                    <p>Order PLaced:{{order.orderdate}}</p>
                    <p>Delivery Date:{{order.shippingdate}}</p>
                    <p>Status:<b>{{order.orderstatus}}</b></p>
                </div>
            </div>
        </div>
        <div class="card-footer" *ngIf="status(order)">
           <button class="btn btn-danger" (click)="cancelorder(order)" >Cancel Order</button>
        </div>
    </div>

    <h5 [hidden]="!norecord">No order Place</h5>
</div>
