<app-navbar></app-navbar>
<div class="container-fluid ">
    <div class="card mx-auto">
        <div class="card-header ">
            <p>Admin</p>
        </div>
        <div class="card-body">
            <div class="form-group mx-auto">
                <form #adminlogin="ngForm" (ngSubmit)="adminlogin.form.valid && onAdminLogin(adminlogin)" >
                    <input type="email" placeholder="Enter email" name="adminemail" class="form-control" [(ngModel)]="adminobj.adminemail" required email #adminemail="ngModel">
                    <input type="password" placeholder="Enter password" name="password" class="form-control" [(ngModel)] ="adminobj.password" required #password="ngModel">
                    <div class="form-submit">
                        <button type="submit" class="btn btn-success">Login</button>
                    </div>
                    <p c [hidden]="!loginerror" class="text-danger">Invalid Password or Email</p>
                </form>
             
               
            </div>
        </div>
  
       
    </div>
</div>