<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Order Book</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
  <div class="details">
    <div class="image">
      <img [src]="bookobj.sideimg[0]" alt="book">
    </div>
    <h4>{{bookobj.bookname}}</h4>
    <em>{{bookobj.category}}</em>
    <p>{{bookobj.price|currency:"INR"}}</p>
  </div>
  
  <form>
    <input type="text" placeholder="Enter Name" name="name" class="form-control"
      [required]="true" [(ngModel)]="orderobj.name">
    <input type="text" placeholder="Enter Address" name="address"
      class="form-control" [required]="true" [(ngModel)]="orderobj.address">
    <input type="text" placeholder="Enter Mobile" name="mobileno"
      class="form-control" [required]="true" [(ngModel)]="orderobj.mobileno">
    <select name="quantity" id="quantity" class="form-select form-control"
      [(ngModel)]="orderobj.quantity" >
      <option>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=4>4</option>
    </select>
    
  </form>
  <p>Total Price:{{bookobj.price*orderobj.quantity}}</p>
  <p [hidden]="!updatemsg" class="text-success">Order Successfull</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Cancel
  </button>
  <button type="button" class="btn btn-success" (click)="onSubmit()">Order</button>
</div>