<app-navbar></app-navbar>
<div class="container-fluid ">
    <div class="card mx-auto">
        <div class="card-header text-bg-secondary ">
            <p>Forget Password</p>
        </div>
        <div class="card-body">
            <div class="form-group mx-auto">
                <form>
                    <div class="row">
                        <div class="col-auto">
                        <input type="email" required placeholder="Enter email" name="email" class="form-control" [(ngModel)]="otpobj.useremail" >
                        <button type="submit" class="btn btn-success" (click)="otpSend()">Send</button>
                        
                        </div>
                        <p [hidden]="!otpmsg" class="text-success">Otp send Success & it is valid only 2m</p>
                        <div class="col-auto">
                            <input type="text" placeholder="Enter Otp" name="code" class="form-control" [(ngModel)]="otpobj.code">
                            <button type="submit" class="btn btn-success" (click)="otpVerify()">Submit</button>
                        </div>
                    </div>
                    
                 
                  
                    <!-- <input type="password" placeholder="Enter Password" name="password" class="form-control" [(ngModel)]="userobj.password" > -->
              
                    <div class="form-submit">
                      
                    </div>
                    <!-- <div class="form-submit">
                        <button type="submit" class="btn btn-success" (click)=" resetPassword()">Password Reset</button>
                    </div> -->
                    <a [routerLink]="'/login'">Login Here</a>
                   
                   
                  
                </form>
             
               
            </div>
        </div>
  
       
    </div>
</div>
