<app-navbar></app-navbar>
<div class="container-fluid ">
    <div class="card mx-auto">
        <div class="card-header">
            <p>Registration</p>
        </div>
        <div class="card-body">
            <div class="form-group">
                <form #regform="ngForm"   method="POST" (ngSubmit)="regform.form.valid && onSubmit(regform)" novalidate >
                    <div class="row">
                        <div class="col-6">
                          
                            <input type="text" placeholder="Enter First Name" name="username" class="form-control" [(ngModel)]="userobj.username"  #username="ngModel"  required pattern="[a-zA-Z][a-zA-Z ]+[a-zA-Z]$">
                            <small class="text-danger"
                            *ngIf="(username.touched || regform.submitted) && username.errors?.['required']">
                            Name is required
                            </small>
                            <small class="text-danger"
                            *ngIf="username.touched && username.errors?.['pattern']">
                            Name contains only letter
                            </small>
                          
                            <input type="text" placeholder="Enter Phone Number" name="mobileno" class="form-control" [(ngModel)]="userobj.mobileno"  [required]="true" pattern="[6-9][0-9]{9}" #mobile="ngModel" >

                            <small *ngIf="(mobile.touched||regform.submitted)&&mobile.errors?.['required']" class="text-danger">Mobile is required</small>
                            <small class="text-danger"
                            *ngIf="mobile.touched && mobile.errors?.['pattern']">
                            Enter valid mobile
                            </small>
                            <input type="email" placeholder="Enter email" class="form-control"name="email" [(ngModel)]="userobj.useremail"  required email #email="ngModel">
                            <small *ngIf="(email.touched||regform.submitted) && email.errors?.['required']" class="text-danger">Email is required</small>
                            <small *ngIf="email.touched && email.errors?.['email']" class="text-danger">Enter Valid Email</small>
                           
                        </div>
                        <div class="col-6">
                            <input type="text" name="surname" placeholder="Enter Surname" class="form-control" [(ngModel)]="userobj.surname" required pattern="[a-zA-Z][a-zA-Z ]+[a-zA-Z]$" #surname="ngModel">
                            <small *ngIf="(surname.touched||regform.submitted) && surname.errors?.['required']" class="text-danger">Surname is required</small>
                            <small *ngIf="surname.touched && surname.errors?.['pattern']" class="text-danger">Surname Contains only letter</small>

                            <input type="text" name="address" placeholder="Enter Address" class="form-control" [(ngModel)]="userobj.address" required #address="ngModel">
                            <small class="text-danger" *ngIf="(address.touched||regform.submitted) && address.errors?.['required']">Address is required</small>
                            <input type="password" name="password" placeholder="Create password" class="form-control" [(ngModel)]="userobj.password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@!#$%&*?])[A-Za-z\d@$!%*?&]{6,10}$" autocomplete="off" #password="ngModel">
                            <small *ngIf="(password.touched||regform.submitted) && password.errors?.['required']" class="text-danger">Password is required</small>
                            <small *ngIf="password.touched && password.errors?.['pattern']" class="text-danger">Password only letter</small>
                        </div>
                    </div>
                    <div class="form-submit">
                        <button type="submit" class="btn btn-success" >Register</button>
                    </div>
                    <a [routerLink]="'/login'">Already Have Account?</a>
                    <p [hidden]="!successmsg" class="text-success">Register Successfully done</p>
                    <p [hidden]="!errormsg" class="text-danger">Email or Mobile already exist</p>
                </form>
             
               
            </div>
        </div>
  
    </div>
</div>