<div class="modal-header bg-info">
    <h5 class="modal-title" id="exampleModalLabel">New Password</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"></button>
  </div>
  <div class="modal-body bg-dark">
   
    <form >
      <input type="text" placeholder="Enter New Password" name="password" class="form-control"
        [required]="true" [(ngModel)]="userobj.password">
     
      
    </form>
   
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="onSubmit()">Change</button>
  </div>
