<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="form-group">
        <!-- <form>
            <input type="search" name="search" placeholder="Search Book" class="form-control mx-auto"  [(ngModel)]="filterTerm">
          
        </form> -->
        
        <div class="row" >
            <div class="heading">
                <p>Featured Books</p>
            </div>
           
            <div class="col-3" *ngFor="let book of viewbook" >
                <div class="card">
                    <div class="card-header">
                        <em>{{book.category}}</em>
                    </div>
                    <div class="card-body">
                        <img [src]="book.sideimg[0]">
                        <p>{{book.bookname}}</p>
                       
                        <h4>{{book.price|currency:"INR"}}</h4>
                                          </div>
                    <div class="card-footer ">
                        <button class="btn btn-success m-1" (click)="viewProduct(book)" >View Details</button> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="heading">
                <p>New Arrivals</p>
            </div>
           
            <div class="col-3" *ngFor="let book of topbook " >
                <div class="card">
                    <div class="card-header">
                        <em>{{book.category}}</em>
                    </div>
                    <div class="card-body">
                        <img [src]="book.sideimg[0]" class="img-fluid">
                        <p>{{book.bookname}}</p>
                       
                        <h4>{{book.price|currency:"INR"}}</h4>
                                          </div>
                    <div class="card-footer ">
                        <button class="btn btn-success m-1" (click)="viewProduct(book)" >View Details</button> 
                    </div>
                </div>
            </div>
        </div>
      
        <!-- <p [hidden]="!nodata" class="text-danger">No record Found</p> -->
    </div>
   
</div>

